[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
faker = "*"
validators = "*"

[dev-packages]
ipython = "*"
yapf = "*"
pre-commit = "*"
autopep8 = "*"
pylama = {extras = ["all"], version = "*"}
coverage = "*"
isort = "*"

[requires]
python_version = "3"
